body{
    background-color: #252525;

    color: #F7F7F7;

    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.substackEmbed{
    color: whitesmoke;

    background-color: transparent;

    border-radius: 2rem;
    width: 21rem;
}